html {
  font-size: 14pt;
  height: 100%;
  user-select: none;
}

body, #app {
  height: 100%;
  margin: 0;
  user-select: none;
  background-color: #1be8ff23;
  border: 5px solid white;
}

a {
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  user-select: none;
  touch-action: none;
}

.letter-list {
  color:#57227e;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 0 5px gray;
  user-select: none;
  touch-action: none;
  font-family: 'Aleo', serif;
  padding: .5rem 1rem;
  min-height: 2rem;
  min-width: 1.5rem;
}

.letter-list:hover {
  box-shadow: 0 0 10px gray;
}

#pool {
  margin: 1% 0 3% 0;
}

.clone {
  color: #8910df;
  user-select: none;
}

.dragging {
  color: #8910df;
  opacity: 50%;
}

.item, .letter {
  display: inline;
  user-select: none;
  touch-action: none;
  font-size: 2.5rem;
  padding: 0 1px;
}

.item {
  padding: 0 4px;
}

.letter {
  color: #8910df;
}

.item:hover {
  color: #8910df;
}

/* .space {
  border: 1px dashed #ccc;
  width: 1.5rem;
  height: 2rem;
  border-radius: 3px;
  margin: 0 10px 0 10px;
  margin-left: 1rem;
  touch-action: none;
  user-select: none;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
  gap: 1%;
  width: 100%;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  color: white;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out; 
}

button:hover {
  transform: scale(1.1);
}

#play-again {
  background-color: #6EEB83;
}

#add-list {
  margin-top: 1rem; 
}

#add-list {
  background-color: #26d1e4;
}

#remove-list {
  background-color: #FF5714;
}

#logo {
  width: 40%;
  margin: 2% 0 4% 0;
}

@media only screen and (max-width: 500px) {
  .list-container { 
    width: 95%;
  }

  .letter-list { 
    padding: .25rem .5rem;
  }

  .item, .letter {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
  .list-container { 
    width: 90%;
  }

  .letter-list { 
    padding: .25rem .75rem;
  }

  .item, .letter {
    font-size: 1.75rem;
    padding: 1px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .list-container { 
    width: 85%;
  }

  .item, .letter {
    font-size: 2.25rem;
  }

}

@media only screen and (min-width: 1000px) {
  .list-container { 
    width: 65;
  }

  .item, .letter {
    font-size: 2.75rem;
  }

  #logo {
    width: 50%;
  }

}

@media only screen and (min-width: 1200px) {
  .list-container { 
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .list-container { 
    width: 58%;
  }

  .item, .letter {
    font-size: 3rem;
  }

  #logo {
    width: 60%;
  }
}
