html {
  font-size: 14pt;
  height: 100%;
  user-select: none;
}

body, #app {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  /* background-color: rgba(65, 171, 200, 0.485); */
  background-image: url("https://media.istockphoto.com/photos/rainbow-clouds-picture-id178777151?k=20&m=178777151&s=612x612&w=0&h=BHfwr9GXQH4Llmd9NuBhVuFp8h8-018agCUqZsnnutM=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.75rem;
  position: absolute;
  left: 0;
  top: 0;
  margin: -6% 0 0 10%;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-left: 10%;
  margin: 8% auto 0 auto;
  user-select: none;
  touch-action: none;
  z-index: 0;
}

.letter-list {
  color:#5a4477;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 9px;
  box-shadow: 0 0 5px gray;
  user-select: none;
  touch-action: none;
  font-family: 'Aleo', serif;
  padding: .5rem 1rem;
  min-height: 2.5rem;
  min-width: 1.5rem;
  z-index: 0;
}

.letter-list:hover {
  box-shadow: 0 0 10px gray;
}

#pool {
  margin: 0% 0 2% 0;
  position: relative;
}

.word {
  display: flex;
  align-items: center;
  padding: .5rem 1rem .25rem 1rem;
  margin: 0 2%;
}

.clone {
  user-select: none;
  opacity: 50%;
}

.dragging {
  color: #6e22a4;
  opacity: 50%;
}

.item, .letter {
  display: inline;
  user-select: none;
  touch-action: none;
  font-size: 2.5rem;
  padding: 0 1px;
}

.item {
  padding: 0 4px;
}

.letter {
  color: #6e22a4;
}

.item:hover {
  color: #6e22a4;
  text-shadow: 2px 2px 3px gray;
}

/* .space {
  border: 1px dashed #ccc;
  width: 1.5rem;
  height: 2rem;
  border-radius: 3px;
  margin: 0 10px 0 10px;
  margin-left: 1rem;
  touch-action: none;
  user-select: none;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
  gap: 1%;
  width: 100%;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  color: white;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out; 
}

button:hover {
  transform: scale(1.1);
}

#play-again {
  background-color: #6EEB83;
}

#add-list {
  margin-top: 1rem; 
}

#add-list {
  background-color: #26d1e4;
}

#remove-list {
  background-color: #FF5714;
}

a {
  z-index: 2;
}

#logo > img {
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
  margin: -12% 0 0 -31%;
}

@media only screen and (max-width: 500px) {
  .list-container { 
    width: 95%;
  }

  .letter-list { 
    padding: .25rem .5rem;
    min-height: 2rem;
    min-width: 1.5rem;
  }

  .item, .letter {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
  .list-container { 
    width: 90%;
  }

  .letter-list { 
    padding: .25rem .75rem;
  }

  .item, .letter {
    font-size: 1.75rem;
    padding: 1px;
  }
  p {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .list-container { 
    width: 80%;
  }

  .item, .letter {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .list-container { 
    width: 65;
  }

  .item, .letter {
    font-size: 2.75rem;
  }


}

@media only screen and (min-width: 1200px) {
  .list-container { 
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .list-container { 
    width: 58%;
  }

  .item, .letter {
    font-size: 3rem;
  }
}
