html {
  font-size: 34pt;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.list-container {
  display: flex;
  width: 100%;
  padding: 0;
}

.letter-list {
  border: 1px black solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: .25rem;
  margin: .25rem auto;
  gap: 5px;
}

.dragging {
  opacity: 100%;
}

.clone {
  opacity: 50%;
}